.jumbotron:hover {
    box-shadow: 0px 6px 6px rgb(253, 167, 217);
}

.jumbo {
    background-repeat: no-repeat;
    opacity: .8;
}

h3 {
    text-align: center;
}

.row {
    padding: 0px 25% 0px 25%;
}

.sign {
    text-align: right;
}

.fa {
    color: rgb(17, 50, 70);
}

.new {
    padding: 10% 0% 0% 0%;
}

h2 {
    text-align: center;
}

.newer {
    padding-left: 40%;
}

.ne {
    min-width: 450px;
    height: 300px;
    padding-top: 6.25%;
    background-color: rgb(219, 191, 209);
    opacity: 0.8;
    border-radius: 7px;
}

.col-xs-6 {
    margin-top: 2%;
}

.ne:hover {
    box-shadow: 2px 6px 6px rgb(250, 7, 121);
}

.hood {
    background-image: url("event.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: bottom;
}

.foot {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-top: 3%;
    position: sticky;
}

html,
body {
    height: 100%;
    width: 100%;
}

.forms {
    background-color: aliceblue;
    opacity: .9;
    border-radius: 5px;
    align-content: center;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10% 20% 10% 20%;
    width: 30%;
}

.forms:hover {
    border-left: 1px solid rgb(106, 44, 165);
    border-right: 1px solid rgb(111, 32, 185);
    box-shadow: 2px 6px 6px rgb(250, 7, 121);
}

.login {
    margin-top: 10%;
}

.img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.image {
    border-radius: 5px;
    width: 60%;
    height: 20%;
}

.filing {
    height: 30px;
    border-radius: 40%;
}

.kadi {
    align-content: center;
    padding: 1% 1% 1% 1%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 10%;
}

.card {
    margin-bottom: 1%;
    border-radius: 90px;
}

.card:hover {
    box-shadow: 2px 6px 6px rgb(250, 7, 121);
}

.card-img-top {
    box-shadow: 0px 3px 3px rgb(250, 7, 121);
    border-radius: 20px;
}

.eventer {
    background-color: rgba(235, 219, 219, 0.5);
}

.threehundred {
    display: none;
}

.fivehundred {
    display: none;
}

.thousand {
    display: none;
}

.btn-delete {
    float: right;
    opacity: .8;
    height: 30px;
    border-radius: 4px;
    border: solid rgb(209, 65, 149) 0px;
    margin-left: 4px;
    width: 120px;
    height: 40px;
}

.btn-view {
    float: right;
    opacity: .8;
    height: 30px;
    background-color: rgb(209, 65, 149);
    color: rgb(115, 223, 241);
    border-radius: 4px;
    border: solid rgb(209, 65, 149) 0px;
    width: 120px;
    height: 40px;
    margin-left: 4px;
}

.rightey {
    float: right;
}

.lefty {
    float: left;
}

.btn-write {
    float: right;
    opacity: .8;
    height: 30px;
    background-color: rgb(238, 164, 207);
    color: rgb(115, 223, 241);
    border-radius: 4px;
    border: solid rgb(209, 65, 149) 0px;
    width: 40px;
    height: 40px;
}

.btn-edit {
    float: right;
    opacity: .8;
    height: 30px;
    border-radius: 4px;
    border: solid rgb(206, 92, 92) 0px;
    width: 120px;
    height: 40px;
}

.eve {
    float: left;
}

.changeable {
    background-color: rgb(235, 187, 209);
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
}

.nochanges {
    text-decoration: none;
    color: inherit;
}

.nochanges:hover {
    text-decoration: none;
    color: inherit;
}


#introContent {
    min-height: 200px;
    max-width: 100%;
    height: auto;
    background-color: rgb(245, 238, 242);
    overflow: hidden;
    margin: 30% 20% 40px 20%;
    border-radius: 30px 0;
    opacity: .8;
    color: rgb(50, 78, 75);
}

#lookbookHeader video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    display: block;
}

.whitey {
    color: aliceblue;
}